<!-- templates/app_video/home.html -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de vídeos</title>
</head>
<body>

    <h1>Lista de vídeos</h1>
    <ul>
        {% for video in videos %}
            <li>{{ video.id }} - {{video.Titulo}} - {{video.Descricao}} - {{ video.link }} </li>
        {% endfor %}
    </ul>
   
</body>
</html>
